[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
mezzanine = "*"
django-rest-framework = "*"
django-modeltranslation = "*"

[requires]
python_version = "3.6"
